table{
	border:1px solid black;
	line-height:50px;
}
th,td{
	height:50px;
}
.logintext{
	margin-top:150px;
	background-color:blue;
	margin-left:800px;
	padding:50px;
}
.loginbutton { 
	 background:red;
     border:solid 1px #666666;
     height:25px;
     width:70px;
     font-size: 12px;
} 
.table{
	border:1px solid black;
	line-height:50px;
}
.regi{
	margin-top:0px;
	background-color:red;
	margin-left:500px;
}
